body {
    margin: 0;  
    font-family: "Inter", sans-serif;
    background-color: #282D35;
}

/* FOOTER STYLES START */
.footer {
    align-items: center;
    background-color: #21222A;
    bottom: 0;
    color: #FFFFFF;
    display: flex;
    font-size: 16px;
    height: 45px;
    justify-content: right;
    position: fixed;
    width: 100%; 
}

.footer-text {
    margin-right: 20px;
}
/* FOOTER STYLES END */

/* MAIN CONTENT STYLES START */
.main-content {
    background-image: url("./react_icon_large.png");
    background-position: right 140px;
    background-repeat: no-repeat;
    background-size: 200px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding: 57px 0 40% 30px;
}

.main-list > li {
    padding-left: 10px;
    max-width: 400px;
}

.main-list > li::marker {
    color:#61DAFB;
    font-size: 1.4rem;
}

.main-list-padding {
    padding-top: 20px;
}

.main-list-div {
    display: flex;
    color: #FFFFFF;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 400;
    padding-left: 7px;
    width:100%;
}

.main-title {
    color: #FFFFFF;
    font-size: 40px;
}
/* MAIN CONTENT STYLES END */

/* NAV STYLES START */
.nav-desc {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}

.nav-img {
    height: 30px;
    margin-right: 10px;
    width: 30px;
}

.nav-title {
    color: #61DAFB;
    font-size: 24px;
    font-weight: 700;
    margin-right: auto;
}

.navbar {
    align-items: center;
    background-color: #21222A;
    box-shadow: 0px 1px 5px #888;
    display: flex;
    height: 80px;
    padding: 15px 25px;
}
/* NAV STYLES END*/